<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="<%= websiteDescription %>" />
  <meta name="keywords" content="<%= websiteKeywords %>" />
  <meta name="apple-mobile-web-app-title" content="<%= RUOYU.appTitle %>" />
  <title><%= websiteTitle %></title>
  <%_ ["viewer","layout", ...cssList].forEach(item=> { _%>
  <link rel="stylesheet" href="<%= `${cdnUrl}css/${item}.min.css?v=${version}`%>" />
  <%_ }) _%>
</head>

<body>
  <%- include(`../components/header`) %>
  <div class="container py-md">
    <%- include(`../pages/${page}`) %>
  </div>
  <% ["viewer","dom", "message", "axios.min",...jsList].forEach(item=> { %>
  <script src="<%= `${cdnUrl}js/${item}.js?v=${version}`%>"></script>
  <% }) %>

  <script>

  </script>
</body>

</html>