<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="<%= websiteDescription %>" />
  <meta name="keywords" content="<%= websiteKeywords %>" />
  <meta name="apple-mobile-web-app-title" content="<%= RUOYU.appTitle %>" />
  <title><%= websiteTitle %></title>
  <link rel="stylesheet" href="<%= cdnUrl %>css/layout.min.css?v=<%= version %>" />
  <link rel="stylesheet" href="<%= cdnUrl %>css/card.min.css?v=<%= version %>" />
  <!-- <link
            rel="stylesheet"
            href="<%= cdnUrl %>/plugin/notice/colored-theme.min.css?v=<%= version %>"
        />
        <link
            rel="stylesheet"
            href="<%= cdnUrl %>/css/layout.min.css?v=<%= version %>"
        /> -->
  <%_ cssList.forEach(item => { _%>
  <link rel="stylesheet" href="<%= cdnUrl %>/<%= item %>.min.css?v=<%= version %>" />
  <%_ }) _%>
</head>

<body>
  <%- include(`../components/header`) %>
  <div class="container py-md"><%- include(`../components/card`) %></div>

  <script src="<%= cdnUrl %>js/test.js?v=<%= version %>"></script>
  <% jsList.forEach(item => { %>
  <script src="<%= cdnUrl %>/<%= item %>.min.js?v=<%= version %>"></script>
  <% }) %>
</body>

</html>